{% extends "base.html" %}
{% load static %} 
{% block title %}Module List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Modules</h2>
    <div class="mt-3">
        <a href="{% url 'module_group:module_add' %}" class="btn btn-primary">Add New Module</a>
        <button class="btn btn-success" title="Import Modules from Excel" data-toggle="modal" data-target="#importModal" data-toggle="tooltip">
            <i class="fas fa-file-import"></i> Import
        </button>
        <a href="{% url 'module_group:export_modules' %}" class="btn btn-secondary" title="Export Modules to Excel" data-toggle="tooltip">
            <i class="fas fa-file-export"></i> Export
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Module Name</th>
                <th>Module Group</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
            <tr>
                <td>{{ module.module_name }}</td>
                <td>{{ module.module_group }}</td>
                <td><i class="{{ module.icon }}"></i></td>
                <td>
                    <a href="{% url 'module_group:module_detail' module.pk %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'module_group:module_edit' module.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'module_group:module_delete' module.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Import Module Groups from Excel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Import Form -->
          <form method="post" enctype="multipart/form-data" action="{% url 'module_group:import_modules' %}">
          <div class="mb-4">
            <span>
              Please download and use the <a href="{% static 'excel/import_modules.xlsx' %}" target="_blank">Excel template</a>. The Excel file must contain exactly one sheet with the required columns.
            </span>
          </div>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Initialize Bootstrap Tooltips -->
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
